{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css'%}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css'%}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <!--div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div-->


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Psss. Man, do you need some New Year place?</h1>
              <p>Гастробар + 1 - это то, что тебе нужно. Используй промокод DENCHIK KRUTOY - и получи нихрена! Рекомендую.</p>
			  <hr class="featurette-divider">
              <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p-->
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Продктпласьмент.</h1>
              <p>Реклама - это сложно. :c</p>
			  <hr class="featurette-divider">
              <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p-->
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>NEW YEAR SALES.</h1>
              <p>Новогодние скидки - попади в шапку с ПРОЦЕНТНОЙ скидкой!.</p>
			  <hr class="featurette-divider">
              <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'src/mail_png1.png'%}" alt="Generic placeholder image" width="140" height="140">
          <h2>Register</h2>
          <p>При помощи формы, представленной ниже, зарегистрируй свою электронную почту.</p>
          <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'src/mail_png2.png'%}" alt="Generic placeholder image" width="140" height="140">
          <h2>Wait mail</h2>
          <p>Дождись письма, а может быть даже успер крутого извещения в конверте для самых больших детишек с указанием своей жертвы.</p>
          <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'src/mail_png3.png'%}" alt="Generic placeholder image" width="140" height="140">
          <h2>Buy ad</h2>
          <p>Серьёзно. Ты что, думаешь эта крутая шапка-слайдер здесь просто для того, чтобы запихать туда ещё одну инструкцию, как тебе заполнить форму? КУПИ РЕКЛАМУ. КУПИ.</p>
          <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <form method="POST" class="form-signin">
        <!--h2 class="form-signin-heading">REGISTER!</h2-->
        <!--label for="address" class="sr-only">Email address</label>
        <input type="email" id="address" class="form-control" placeholder="iwilldonatyou@rencap.com" required autofocus>
        <label for="extends" class="sr-only">Extend text</label>
        <input type="text" id="extends" class="form-control" placeholder="алергии, неприязнь, нетерпимости" required autofocus-->
		{{ form.as_p }}
        <!--label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div-->
        <button class="btn btn-lg btn-primary btn-block extbut" type="submit">REGISTER!</button>
      </form>
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Step one. <span class="text-muted">Register by upper form</span></h2>
          <p class="lead">Зарегистрируй свою эпическую рабочую электронную почту, чтобы нам было куда затолкать тебе подарок.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'src/src_png1.png'%}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Step two. <span class="text-muted">Buy some good stuff.</span></h2>
          <p class="lead">Or mayonnaise. It's good for you. Купи подарок, которым ты хочешь ОСЧАСТЛИВИТЬ таинственного получателя.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'src/src_png2.png'%}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Step three. <span class="text-muted">Waiting.</span></h2>
          <p class="lead">Серьёзно. Всё, что тебе осталось, это дождаться от нас электронного письма, чтобы узнать, кому тебе предстоит явить своё изысканное несравненное поздравление.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'src/src_png4.png'%}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">OH YEAH, IT'S THAT GOOD. <span class="text-muted">Maybe u wanna give me some donats?</span></h2>
          <p class="lead">Ну что, не так сложно, как ты думал? Так держать. Может ты ещё и задонатить разработчику хочешь? В таком случае телефонная будка на рабочем месте №51-019 своим отверстием подмигивает именно тебе, красавчик.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'src/src_png3.png'%}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 or 2019 may be? Denchik's technologies. <!--&middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a--></p>
      </footer>


    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../static/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
